@media screen {

    html, body {
        min-height: 100%;
    }

    body {
        margin: 0;
        font-size: 18px;
        font-family: 'PT Sans', Verdana, sans-serif;
        background: #ffffff;
        line-height: 1.4;
        overflow-y: scroll;
    }

    /*** layout ***/

    .wrapper {
        max-width: 1440px;
        margin: 0 auto;
    }

    .flex-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flexbox;
        display: -moz-flex;
        display: -o-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    #page-wrap {
        position: relative;
        overflow: hidden;
    }

    #loading-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;

        justify-content: center;
        align-items: center;
        align-content: center;

        font-size: 1.25em;
        font-weight: bold;

        transition: opacity 0.4s ease-in;
    }

    .planes-loaded #loading-wrapper {
        opacity: 0;
    }

    /*** canvas ***/

    #canvas {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        z-index: 10;

        opacity: 0;

        transition: opacity 0.5s ease-in, transform 0.8s ease-in;
    }

    .planes-loaded #canvas {
        opacity: 1;
    }


    .go-to-project .slide-0 #canvas {
        transform: translate3D(0, -12.5vh, 0) scale(1.5);
    }

    .go-to-project .slide-1 #canvas {
        transform: translate3D(0, -12.5vh, 0) scale(1.5);
    }

    .go-to-project .slide-2 #canvas {
        transform: translate3D(0, -12.5vh, 0) scale(1.5);
    }

    /*** content ***/

    #content {
        position: relative;
        z-index: 10;
    }

    #home {
        position: relative;
        z-index: 15;

        margin: 0 auto;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    #home h1 {
        margin-top: 40px;
        font-size: 2em;
        text-align: center;

        transition: opacity 0.5s ease-in;
    }

    #home h1, .planes-loaded.go-to-project #home h1 {
        opacity: 0;
    }

    .planes-loaded #home h1 {
        opacity: 1;
    }

    #planes {
        overflow: hidden;
        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;

        width: 300%;
        height: 100vh;

        align-items: center;
        align-content: center;

        transition: opacity 0.5s ease-in, transform 0.8s ease-in;
    }

    .slide-0 #planes {
        transform: translate3D(0, 0, 0);
    }

    .slide-1 #planes {
        transform: translate3D(calc(-100% / 3), 0, 0);
    }

    .slide-2 #planes {
        transform: translate3D(calc(-100% * 2 / 3), 0, 0);
    }

    .planes-loaded #planes {
        opacity: 1;
    }

    .plane-wrapper {
        flex-basis: calc(100% / 3);
        height: 50vh;
        float: left;
        position: relative;

        justify-content: center;
    }

    .plane-inner {
        padding: 40px;
        height: 100%;
        flex-basis: 75%;
        position: relative;
        box-sizing: border-box;

        justify-content: center;
        align-items: center;
        align-content: center;

        cursor: pointer;
    }

    .plane-title {
        color: #ee6557;

        font-size: 4em;
        font-weight: bold;
        display: inline-block;
        padding: 0.125em 0.25em;
        font-family: 'Abril Fatface', serif;
        font-weight: normal;

        opacity: 0;
        transform: translate3D(0, 0.25em, 0);

        transition: opacity 0.35s ease-in, transform 0.35s ease-in;
    }

    .slide-0 .plane-wrapper:nth-child(1) .plane-title {
        opacity: 1;
        transform: translate3D(0, 0, 0);

        transition: opacity 0.75s 0.5s ease-in, transform 0.75s 0.5s ease-in;
    }

    .slide-1 .plane-wrapper:nth-child(2) .plane-title {
        opacity: 1;
        transform: translate3D(0, 0, 0);

        transition: opacity 0.75s 0.5s ease-in, transform 0.75s 0.5s ease-in;
    }

    .slide-2 .plane-wrapper:nth-child(3) .plane-title {
        opacity: 1;
        transform: translate3D(0, 0, 0);

        transition: opacity 0.75s 0.5s ease-in, transform 0.75s 0.5s ease-in;
    }

    .plane {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .plane img {
        display: none;
    }


    /*** navigation ***/

    #navigation {
        position: fixed;
        bottom: 2em;
        left: 0;
        right: 0;
        z-index: 20;
        text-align: center;

        transition: opacity 0.5s ease-in;
    }

    #navigation, .planes-loaded.go-to-project #navigation, .planes-loaded.single-project-shown #navigation {
        opacity: 0;
        pointer-events: none;
    }

    .planes-loaded #navigation {
        opacity: 1;
        pointer-events: auto;
    }

    .navigation-button {
        font-size: 1.25em;
        display: inline-block;
        padding: 0.25em 1em;
        cursor: pointer;
        margin: 0 0.25em;
        background: #ddd;

        transition: background 0.4s ease-in, color 0.5s ease-in;
    }

    .navigation-button:hover, .navigation-button.active {
        background: black;
        color: white;
    }


    /*** single project ***/

    #single-project {
        position: relative;
        z-index: 15;
        background: white;
    }

    #single-project::before {
        content: "";
        position: absolute;
        width: 75%;
        height: 50vh;
        top: 25vh;
        left: 12.5%;
        transform: translate3D(0, -12.5vh, 0) scale(1.5);

        z-index: -1;

        transition: transform 1s ease-in;
    }

    #single-project.project-1::before {
        background: url("images/plane-texture-1.jpg") center center no-repeat;
        background-size: cover;
    }

    #single-project.project-2::before {
        background: url("images/plane-texture-2.jpg") center center no-repeat;
        background-size: cover;
    }

    #single-project.project-3::before {
        background: url("images/plane-texture-3.jpg") center center no-repeat;
        background-size: cover;
    }

    .go-to-home #single-project::before {
        transform: translate3D(0, 0, 0) scale(1);
    }

    #close-project {
        position: absolute;
        z-index: 5;
        display: inline-block;
        padding: 0.25em 0.5em;
        background: black;
        color: white;
        font-size: 1.15em;
        top: 2em;
        right: 2em;
        text-decoration: none;

        transition: background 0.4s ease-in, color 0.4s ease-in, opacity 0.5s ease-in;
    }

    #close-project:hover {
        background: #ee6557;
    }

    .go-to-home #close-project {
        opacity: 0;
    }

    #single-project-titles {
        padding-top: calc(50vh - (2em * 1.4) - 0.5em);
        text-align: center;
    }

    #single-project h1 {
        color: #ee6557;
        margin: 0;

        font-size: 4em;
        font-weight: bold;
        display: inline-block;
        padding: 0.125em 0.25em;
        font-family: 'Abril Fatface', serif;
        font-weight: normal;
    }

    #single-project h2 {
        font-size: 2em;
        color: white;
        margin: 1em 0;

        transition: opacity 0.5s ease-in;
    }

    .go-to-home #single-project h2 {
        opacity: 0;
    }

    #single-project-desc {
        max-width: 800px;
        margin: calc(25vh - 3em * 1.4 - 1em) auto 40px auto;

        transition: opacity 0.5s ease-in;
    }

    .go-to-home #single-project-desc {
        opacity: 0;
    }

    /*** handling errors ***/

    .no-curtains .plane {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        transform: translate3D(0, 0, 0) scale(1);
        transition: transform 1s ease-in;
    }

    .no-curtains.go-to-project .plane {
        transform: translate3D(0, -12.5vh, 0) scale(1.5);
    }

    .no-curtains .plane img {
        display: block;
        object-fit: cover;
    }

}




@media screen and (max-width: 1480px) {

    body {
        font-size: 17px;
    }

    .wrapper {
        margin: 0 20px;
    }

    #close-project {
        font-size: 1em;
        top: 20px;
        right: 20px;
    }

    #single-project-titles {
        padding-top: calc(50vh - (1.5em * 1.4) - 0.5em);
    }

    .plane-title, #single-project h1 {
        font-size: 3em;
    }

    #single-project h2 {
        font-size: 1.5em;
    }

    #single-project-desc {
        max-width: 800px;
        margin: calc(25vh - 2.25em * 1.4 - 1em) auto 40px auto;

        transition: opacity 0.5s ease-in;
    }

    .plane-inner {
        padding: 20px;
    }

}

@media screen and (max-width: 1280px) {

    body {
        font-size: 16px;
    }

}


@media screen and (max-width: 980px) {

    body {
        font-size: 15px;
    }

    .wrapper {
        margin: 0 10px;
    }

    #close-project {
        top: 10px;
        right: 10px;
    }

    .navigation-button {
        font-size: 1em;
    }

}
