@media screen {

    html, body {
        min-height: 100%;
    }

    body {
        margin: 0;
        font-size: 18px;
        font-family: 'PT Sans', Verdana, sans-serif;
        background: white;
        line-height: 1.4;
        color: #202340;
    }

    /*** layout ***/

    .wrapper {
        margin: 0 auto;
        max-width: 1440px;
    }

    .flex-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flexbox;
        display: -moz-flex;
        display: -o-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        -o-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .row {
        margin: 0 -20px;
    }

    .col {
        padding: 0 20px;
    }

    .one-half-col {
        flex-basis: 50%;
    }

    .landscape-wrapper {
        position: relative;
        height: 0;
        width: 100%;
        overflow: hidden;
        padding-bottom: 66.6%;
    }

    .landscape-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #page-wrap {
        width: 100%;
        position: relative;
    }

    .text-section {
        max-width: 980px;
        margin: 0 auto;
    }

    /*** canvas ***/

    #canvas {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        left: 0;

        z-index: 10;
    }


    .curtain, .showcase-curtain, .about-curtain {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .curtain img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .curtain-ready img, .showcase-curtain img, .about-curtain img {
        display: none;
    }

    /*** site ***/

    /*** header ***/

    #header .wrapper {
        max-width: none;
        margin: 0 40px;
    }

    #content {
        position: relative;
        z-index: 15;
        overflow-x: hidden;
        padding-top: 2.9em;
    }

    #content a {
        color: #d17379;
    }

    #content a:hover {
        text-decoration: none;
    }

    #header {
        color: #202340;
        padding: 0.75em 0;
        background: #f0858d;
        font-weight: 700;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    #header-wrapper {
        justify-content: space-between;
    }

    #main-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #main-menu ul li {
        margin-left: 1em;
    }

    #header a {
        color: inherit;
        text-decoration: none;
    }

    #header a:hover, #header a.active {
        color: white;
    }

    /*** intro ***/

    #intro {
        width: 100%;
        height: calc(100vh - 2.9em);
        position: relative;

        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
    }

    #intro .curtain {
        top: 40px;
        right: 40px;
        bottom: 40px;
        left: 40px;
    }

    #intro h1 {
        font-size: 3em;
        color: inherit;
        position: relative;
        z-index: 20;
        font-family: 'Abril Fatface', Verdana, sans-serif;
        font-weight: normal;
        padding: 0 20px;

        line-height: 1;
        margin: 0 0 0.2em 0;

        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .curtain-ready #intro h1 {
        opacity: 0;
    }

    #intro h2 {
        font-size: 1.25em;
        color: white;
        position: relative;
        z-index: 20;
        margin: 0;
        font-weight: normal;
        padding: 0 20px;
        text-align: center;

        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .curtain-ready #intro h2 {
        opacity: 1;
    }

    /*** content ***/

    .content-section {
        padding: 40px 0 80px 0;
    }

    .content-section h1, .content-section h2 {
        margin-top: 0;
        font-family: 'Abril Fatface', Verdana, sans-serif;
        font-weight: normal;
    }

    .content-section h3, .content-section h4 {
        margin-top: 0;
        font-weight: 700;
    }

    .inner-section {
        margin-bottom: 40px;
    }

    .inner-section h1, .inner-section h2, .inner-section h3, .inner-section li[id], ul.api-item-parameters {
        margin-top: -3.25em;
        padding-top: 3.25em;
    }

    .inner-section:last-child {
        margin-bottom: 0;
    }

    .content-section ul li {
        margin-bottom: 20px;
    }

    pre {
        padding: 0 20px;
        background: #313131;
        white-space: pre-wrap;
        line-height: 1.2;
        font-size: 0.9em;
        color: white;
    }

    code {
        display: inline-block;
    }

    .code {
        padding: 20px;
        background: #2b2b2b;
        line-height: 1.4;
        font-size: 0.85em;
        color: #bababa;
        margin: 1.5em 0;
        font-family: 'Roboto Mono', Courrier New, sans-serif;
    }

    .code-block {
        margin-bottom: 1.4em;
    }

    .code-indent {
        padding-left: 2.375em;
    }

    .code-tag {
        color: #e8bf6a;
    }

    .code-comment {
        color: #808080;
    }

    .code-var {
        color: #cc7832;
    }

    .code-string {
        color: #6a8759;
    }

    .code-number {
        color: #6897bb;
    }

    .code-property {
        color: #9876aa;
    }

    /*** examples ***/

    #showcase {
        padding-top: 40px;
    }

    .websites-examples-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        margin: 0 -10px;
    }

    .website-example-item {
        flex-basis: 50%;
        overflow: hidden;
        box-sizing: border-box;
        padding: 10px;
    }

    .website-example-cover {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.833%;
    }

    .website-example-cover img {
        opacity: 0;
    }

    /*** get started ***/

    #basic-example {
        margin: 1em 0;
        width: 100%;
        height: 0;
        padding-bottom: 66.75%;
        overflow: hidden;
    }

    #basic-example img {
        display: none;
    }

    /*** about ***/

    #about {
        height: 50vh;
        position: relative;
    }


    /*** handling errors ***/

    .no-curtains .website-example-cover img, .no-curtains #basic-example img {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
    }

    .no-curtains #site-title {
        opacity: 1;
    }


    /*** API section ***/

    .api-section {
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
    }

    /*** menu ***/

    #api-menu-nav {
        flex-basis: 260px;
        width: 260px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        /*height: calc(100vh - 2.9em);*/
        height: 100vh;
        padding-top: 2.9em;
        box-sizing: border-box;
        background: #e9e9e9;
        overflow-y: auto;
    }

    #api-menu-nav::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 2.9em;
        background: #f0858d;
    }

    #api-menu-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #api-menu {
        min-height: calc(100vh - 2.9em);
    }

    #api-menu > li {
        margin: 0;
        padding: 1em;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    #api-menu li:first-child {
        border-top: 0;
    }

    #api-menu li:last-child {
        border-bottom: 0;
    }

    #api-menu-nav a {
        text-decoration: none;
    }

    #api-menu-nav a:hover {
        text-decoration: underline;
    }

    #api-menu li .api-menu-top-link a {
        color: #202340;
        font-weight: bold;
    }

    #api-menu li.active .api-menu-top-link a {
        text-decoration: underline;
    }

    .api-submenu-content {
        margin: 0.5em;
    }

    #api-menu li .api-submenu-content {
        display: none;
    }

    #api-menu li.active .api-submenu-content {
        display: block;
    }

    #api-menu .api-submenu {
        margin: 0.5em 0;
    }

    .api-submenu-title {
        margin: 0.5em 0 0 0;
    }

    #content .api-submenu-title a {
        color: #202340;
    }

    #api-menu li li {
        font-size: 0.85em;
        margin: 0.25em;
        background: transparent;
        padding: 0;
    }

    #basic-concept-list, #basic-concept-list ul {
        padding-left: 1em;
    }

    #basic-concept-list li {
        margin-bottom: 1em;
    }

    #basic-concept-list h3, #basic-concept-list h4 {
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }

    #basic-concept-list h3 .api-item-version {
        font-size: 0.68375em;
        margin: 0 1em;
        font-weight: normal;
    }

    #basic-concept-list h4 .api-item-version {
        margin: 0 1em;
        font-weight: normal;
    }

    #basic-concept-list p {
        margin-top: 0;
    }

    /*** content ***/

    #api-content {
        flex-basis: calc(100% - 300px);
        width: calc(100% - 300px);
        padding-top: 40px;
        padding-left: 300px;
    }

    .api-content-inner {
        max-width: 980px;
        margin-right: 20px;
    }

    .content-section .api-content-inner h1, .content-section .api-content-inner h2, .content-section .api-content-inner h3, .content-section .api-content-inner h4, .content-section .api-content-inner h5 {
        font-family: 'PT Sans', Verdana, sans-serif;
        font-weight: 700;
    }

    .content-section .api-content-inner h2 {
        font-size: 1.4em;
    }

    #api-content h2 {
        margin-top: -2em;
    }

    .content-section .api-content-inner h3 {
        font-size: 1.25em;
    }

    .content-section .api-content-inner h4 {
        font-size: 1.2em;
        margin: 1em 0;
    }

    .content-section .api-content-inner h5 {
        font-size: 1.1em;
        margin: 1em 0;
    }

    .content-section .api-content-inner h6 {
        font-size: 1em;
        margin: 1em 0;
    }

    .api-item-version {
        display: inline-block;
        font-size: 0.8em;
        padding: 0.125em 0.25em;
        margin: 0 0.5em;
        background: #f7e3e4;
    }

    .api-item-deprecated {
        display: inline-block;
        font-size: 0.8em;
        padding: 0.125em 0.25em;
        margin: 0 0.5em;
        background: #f49c9c;
    }

    .api-item-warning {
        display: inline-block;
        font-size: 0.8em;
        padding: 0.125em 0.25em;
        margin: 0 0.5em;
        color: white;
        background: #cc5050;
    }

    .api-item-version-update {
        background: #f7cdcf;
    }

    .api-section em {
        color: #d17379;
    }

    .api-content-inner ul li {
        margin-bottom: 4em;
    }

    .api-item-parameters {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 0.9em;
    }

    .api-content-inner .api-item-parameters li {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .api-item-parameters li span {
        padding: 0.25em 0.5em;
        border: 1px solid white;
        background: #e9e9e9;
    }

    .api-content-inner .api-item-parameters li:nth-child(even) span {
        /*background: #fceaeb;*/
        background: #f7e3e4;
    }

    .api-item-parameter-label {
        font-weight: 700;
    }

    .api-item-parameter-type {
        font-style: italic;
        flex-grow: 1;
    }

    .api-item-parameter-desc {
        flex-basis: 100%;
    }

    .api-item-parameters-inner-list {
        flex-basis: 100%;
        margin: 2px 0 0 0;
        padding: 0 0 0 1em;
        list-style: none;
        font-size: 0.95em;
    }

    .api-content-inner .api-item-parameters-inner-list li {
        display: flex;
        margin: 0;
        background: none;
    }

    .api-content-inner .api-item-parameters li .api-item-parameters-inner-list li span {
        background: #e0e0e0;
    }

    .api-content-inner .api-item-parameters li .api-item-parameters-inner-list li:nth-child(even) span {
        background: #efefef;
    }

    .api-content-inner .api-item-parameters li .api-item-parameters-inner-list li .api-item-parameters-inner-list li span {
        background: #f3f3f3;
    }

    .api-content-inner .api-item-parameters li .api-item-parameters-inner-list li .api-item-parameters-inner-list li:nth-child(even) span {
        background: #f9f9f9;
    }

    .api-item-examples {
        font-size: 0.9em;
    }

}




@media screen and (max-width: 1480px) {

    body {
        font-size: 17px;
    }

    .wrapper {
        margin: 0 20px;
    }


    #intro .curtain {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }

    /*** api ***/

    #api-menu-nav {
        flex-basis: 240px;
        width: 240px;
    }

    /*** content ***/

    #api-content {
        flex-basis: calc(100% - 270px);
        width: calc(100% - 270px);
        padding-left: 270px;
    }

}


@media screen and (max-width: 1280px) {

    body {
        font-size: 16px;
    }

    .wrapper {
        margin: 0 20px;
    }

    .row {
        margin: 0 -15px;
    }

    .col {
        padding: 0 15px;
    }

    /*** header ***/

    #header .wrapper {
        margin: 0 20px;
    }


    #intro .curtain {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }

}


@media screen and (max-width: 980px) {

    body {
        font-size: 15px;
    }

    .wrapper {
        margin: 0 10px;
    }

    .row {
        margin: 0 -10px;
    }

    .col {
        padding: 0 10px;
    }

    /*** header ***/

    #header .wrapper {
        margin: 0 10px;
    }

    #intro .curtain {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
    }

    #intro h1 {
        font-size: 2em;
    }

    /*** api ***/

    .api-section {
        flex-direction: column;
    }

    #api-menu-nav {
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        height: auto;
        padding: 0;
        flex-basis: 100%;
    }

    #api-menu-nav::before {
        display: none;
    }

    #api-menu {
        min-height: 0;
    }

    #api-menu > li {
        display: inline-block;
        border: 0 !important;
    }

    #api-menu li .api-submenu-content {
        display: none !important;
    }

    #api-content {
        flex-basis: 100%;
        width: auto;
        padding-top: 20px;
        padding-left: 0;
    }

    .api-content-inner {
        margin: 0 20px;
    }

}

@media screen and (max-width: 640px) {

    .website-example-item {
        flex-basis: 100%;
    }

}
