@media screen {

    html, body {
        min-height: 100%;
    }

    body {
        margin: 0;
        font-size: 18px;
        font-family: 'PT Sans', Verdana, sans-serif;
        background: white;
        line-height: 1.4;
        color: #202340;
    }

    /*** layout ***/

    .wrapper {
        margin: 0 auto;
        max-width: 1440px;
    }

    .flex-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flexbox;
        display: -moz-flex;
        display: -o-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        -o-flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .row {
        margin: 0 -20px;
    }

    .col {
        padding: 0 20px;
    }

    .one-half-col {
        flex-basis: 50%;
    }

    .landscape-wrapper {
        position: relative;
        height: 0;
        width: 100%;
        overflow: hidden;
        padding-bottom: 66.6%;
    }

    .landscape-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #page-wrap {
        width: 100%;
        position: relative;
    }

    .text-section {
        max-width: 980px;
        margin: 0 auto;
    }

    /*** canvas ***/

    #canvas {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        left: 0;

        z-index: 10;
    }


    .curtain {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .curtain img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .curtain.curtain-ready img {
        display: none;
    }



    /*** site ***/

    /*** header ***/

    #content {
        position: relative;
        z-index: 15;
    }

    #content a {
        color: #d17379;
    }

    #content a:hover {
        text-decoration: none;
    }

    #header {
        color: #202340;
        padding: 0.75em 0;
        background: #f0858d;
        font-weight: 700;
    }

    #header-wrapper {
        justify-content: space-between;
    }

    #main-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #main-menu ul li {
        margin-left: 1em;
    }

    #header a {
        color: inherit;
        text-decoration: none;
    }

    #header a:hover, #header a.active {
        color: white;
    }

    /*** intro ***/

    #intro {
        width: 100%;
        height: calc(100vh - 2.9em);
        position: relative;

        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;

        /*background: url('images/intro-background.jpg') center center no-repeat;
        background-size: cover;*/
    }

    #intro .curtain {
        top: 40px;
        right: 40px;
        bottom: 40px;
        left: 40px;
    }

    #intro h1 {
        font-size: 3em;
        color: inherit;
        position: relative;
        z-index: 20;
        margin: 0;
        font-family: 'Abril Fatface', Verdana, sans-serif;
        font-weight: normal;
        padding: 0 20px;
    }

    #intro h2 {
        font-size: 1.25em;
        color: white;
        position: relative;
        z-index: 20;
        margin: 0;
        font-weight: normal;
        padding: 0 20px;
        text-align: center;
    }

    /*** content ***/

    .content-section {
        padding: 40px 0 80px 0;
    }

    .content-section h1, .content-section h2, .content-section h3, .content-section h4 {
        margin-top: 0;
        font-family: 'Abril Fatface', Verdana, sans-serif;
        font-weight: normal;
    }

    .inner-section {
        margin-bottom: 40px;
    }

    .inner-section:last-child {
        margin-bottom: 0;
    }

    .content-section ul li {
        margin-bottom: 20px;
    }

    pre {
        padding: 0 20px;
        background: #313131;
        white-space: pre-wrap;
        line-height: 1.2;
        font-size: 0.9em;
        color: white;
    }

    code {
        display: inline-block;
    }


    /*** examples ***/

    #showcase {
        padding-top: 40px;
    }

    .websites-examples-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .website-example-item {
        flex-basis: 50%;
        overflow: hidden;
    }

    .website-example-cover {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.833%;
    }

    .website-example-cover img {
        opacity: 0;
    }


}




@media screen and (max-width: 1480px) {

    body {
        font-size: 17px;
    }

    .wrapper {
        margin: 0 20px;
    }


    #intro .curtain {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }

}


@media screen and (max-width: 1280px) {

    body {
        font-size: 16px;
    }

    .wrapper {
        margin: 0 20px;
    }

    .row {
        margin: 0 -15px;
    }

    .col {
        padding: 0 15px;
    }


    #intro .curtain {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }

}


@media screen and (max-width: 980px) {

    body {
        font-size: 15px;
    }

    .wrapper {
        margin: 0 10px;
    }

    .row {
        margin: 0 -10px;
    }

    .col {
        padding: 0 10px;
    }


    #intro .curtain {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
    }

    #intro h1 {
        font-size: 2em;
    }

}

@media screen and (max-width: 640px) {

    .website-example-item {
        flex-basis: 100%;
    }

}
