@media screen {

    html, body {
        min-height: 100%;
    }

    body {
        margin: 0;
        font-size: 18px;
        font-family: Verdana, sans-serif;
        background: #ffffff;
        line-height: 1.4;

        overflow: hidden;
    }

    #page-wrap {
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    /*** canvas ***/

    #canvas {
        height: 100vh;
        width: 100vw;
        z-index: 10;
    }


    .curtain {
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
    }

    .curtain img {
        display: none;
    }


    #switch-context {
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 20;
        color: white;
        padding: 0.25em 0.5em;
        background: #ee6557;
        cursor: pointer;
    }

    /*** handling errors ***/

    .no-curtains .curtain {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .no-curtains .curtain img {
        display: block;
        object-fit: cover;
    }

}
