@media screen {

    html, body {
        min-height: 100%;
    }

    body {
        margin: 0;
        font-size: 18px;
        font-family: 'PT Sans', Verdana, sans-serif;
        background: #ffffff;
        line-height: 1.4;
    }

    /*** layout ***/

    #page-wrap {
        position: relative;
    }

    /*** canvas ***/

    #canvas {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        z-index: 10;
    }

    #back-to-lib-link {
        display: inline-block;
        position: fixed;
        top: 0;
        right: 0;
        padding: 0.25em 0.5em;
        background: #ee6557;
        color: white;
        text-decoration: none;
        z-index: 20;
        font-size: 0.85em;
    }

    #back-to-lib-link:hover {
        background: black;
    }

    /*** content ***/

    #content {
        position: relative;
        z-index: 15;
        touch-action: none; /* disable pull to refresh on mobile */
    }

    #flowmap {
        width: 100%;
        height: 100vh;
    }

    #flowmap img {
        display: none;
    }


    /*** handling errors ***/

    .no-curtains #flowmap {
        display: flex;
        overflow: hidden;
    }

    .no-curtains #flowmap img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

}
